@model IEnumerable<Domain.Sala>

<h2 class="fw-bold mb-4">Salas</h2>

<a class="btn btn-outline-secondary mb-3 me-2" href="@Url.Action("Dashboard", "Admin")">
    <i class="bi bi-arrow-left"></i> Volver al Dashboard
</a>

<a class="btn btn-primary mb-3" href="/Sala/Create">Crear Nueva Sala +</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Estado</th>
            <th>Capacidad</th>
            <th>Responsable</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sala in Model)
        {
            <tr>
                <td>@sala.Nombre</td>
                <td>@sala.Ubicacion</td>
                <td>@sala.Estado</td>
                <td>@sala.Capacidad</td>
                <td>@(sala.Responsable ?? "-----")</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/Sala/Edit/@sala.Id">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/Sala/Delete/@sala.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

